<div class="panel panel-default" style="margin: 20px;">

    <div class="filterPanel" *ngIf="authService.filters">
        <mat-form-field class="filterTool">  
        <input matInput 
        name="term"
        [(ngModel)]="term"
        type="text"
        placeholder="Search by Username">
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field class="filterTool" *ngIf="authService.user.role === 'ROLE_ADMIN'">
            <mat-label>Workplace selection:</mat-label>
            <mat-select>
                <mat-option value="0" (click)="onCompanyFilterChange(0)">
                All Companies
                </mat-option>
                <mat-option *ngFor="let workplace of companies" [value]="workplace.name" (click)="onCompanyFilterChange(workplace.id)">
                    {{workplace.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <user-role-filter class="filterTool" [role]="selectedRole" [roles]="roles" (onChange)="onFilterChange($event)"></user-role-filter>

        <button mat-button id="closeButton" (click)="closeFilter()">Close Filter</button>
    </div>

    <h2 *ngIf="authService.user.role === 'ROLE_ADMIN'; else directorTitle" style="margin-left: 20px;">Registered Users</h2>
    <ng-template #directorTitle>
        <h2 *ngIf="authService.user.role === 'ROLE_DIRECTOR'; else managerTitle" style="margin-left: 20px;">Employees</h2>
    </ng-template>
    <ng-template #managerTitle>
        <h2 *ngIf="authService.user.role === 'ROLE_MANAGER'" style="margin-left: 20px;">Colleagues</h2>
    </ng-template>

    <table matSort (matSortChange)="sortData($event)" class="table table-dark table-hover table-curved">
        <thead>
            <tr>
                <th scope="col" mat-sort-header="username">Username</th>
                <th scope="col" mat-sort-header="status">User Status</th>
                <th scope="col" mat-sort-header="company">Director At</th>
                <th scope="col" mat-sort-header="workplace">Workplace</th>
                <th scope="col" mat-sort-header="role">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Disable/Enable</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers | userFilter : term | companyNameFilter: selectedCompanyId">
                <td *ngIf="user.username; else missing">
                    <a [routerLink]="['/users', user.id]" style="color: azure;">{{user.username}}</a>
                </td>

                <td *ngIf="user.enabled; else disabledUser"><label style="color: green;">Enabled User</label></td>
                <ng-template #disabledUser>
                    <td><label style="color: red;">Disabled User</label></td>
                </ng-template>

                <td *ngIf="user.company; else notADirector">{{user.company.name}}</td>
                <td *ngIf="user.workplace; else missing">{{user.workplace.name}}</td>
                <td *ngIf="user.role; else missing">{{this.enumService.getRoleString(user.role)}}</td>

                <td *ngIf="authService.user.role === 'ROLE_ADMIN'; else managerOrDirector">
                    <button mat-raised-button color="primary" [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                </td>
                <ng-template #managerOrDirector>
                    <td *ngIf="authService.user.role === 'ROLE_DIRECTOR' && (authService.user.id === user.id || user.role === 'ROLE_MANAGER'); else manager">
                        <button mat-raised-button color="primary" [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </td>
                </ng-template>
                <ng-template #manager>
                    <td *ngIf="authService.user.id !== user.id; else loggedInManager">
                        <button mat-raised-button color="primary" disabled><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </td>
                </ng-template>
                <ng-template #loggedInManager>
                    <td>
                        <button mat-raised-button color="primary" [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </td>
                </ng-template>

                <td *ngIf="user.enabled && (authService.user.id === user.id || authService.user.role === 'ROLE_MANAGER' || 
                        (authService.user.role !== 'ROLE_ADMIN' && user.role === 'ROLE_ADMIN')); else switchableUser">
                    <button mat-raised-button color="warn" disabled><mat-icon>remove_circle</mat-icon>&nbsp;Disable</button>
                </td>
                <ng-template #switchableUser>
                    <td *ngIf="user.enabled; else disabledUserButton">
                        <button mat-raised-button color="warn" (click)="openDisableUserDialog(user, 'disable')">
                            <mat-icon>remove_circle</mat-icon>
                            &nbsp;Disable
                        </button>
                    </td>
                </ng-template>
                <ng-template #disabledUserButton>
                    <td *ngIf="!(authService.user.role !== 'ROLE_ADMIN' && user.role === 'ROLE_ADMIN'); else adminEnabling">
                        <button mat-raised-button color="warn" (click)="openDisableUserDialog(user, 'enable')">
                            <mat-icon>remove_circle_outline</mat-icon>
                            &nbsp;Enable
                        </button>
                    </td>
                </ng-template>
                <ng-template #adminEnabling>
                    <td>
                        <button mat-raised-button color="warn" disabled>
                            <mat-icon>remove_circle_outline</mat-icon>
                            &nbsp;Enable
                        </button>
                    </td>
                </ng-template>
                
            </tr>
        </tbody>
    </table>

    <ng-template #notADirector>
        <td><strong style="color: orange;">Not a Director</strong></td>
    </ng-template>

    <ng-template #missing>
        <td><strong style="color: green;">Please Add Value</strong></td>
    </ng-template>

    

    <button *ngIf="!addUser && authService.user.role ==='ROLE_ADMIN'; else directorButton" 
    style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>&nbsp;Register New User
    </button>
    <ng-template #directorButton>
        <button *ngIf="!addUser && authService.user.role ==='ROLE_DIRECTOR'; else cancel" 
        style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>&nbsp;Register New Manager
        </button>
    </ng-template>

    <ng-template #cancel>
        <button *ngIf="addUser" style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
            <mat-icon>remove</mat-icon>&nbsp;Cancel Registration
        </button>
    </ng-template>

    <div *ngIf="addUser">
        <h4 style="margin: 10px;">Register a new User:</h4>
        <new-user-form></new-user-form>
    </div>

</div>