<div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
    <form [formGroup]="userForm" (submit)="submit()">
        <mat-card class="new-user-card">
            <mat-card-content>
                <h4 style="margin: 10px;">Register a new User:</h4>
                <div class="column">
                        <label class="new-user-info">Username:
                            <mat-form-field style="width: 250px; padding-left:4em">
                                <input matInput 
                                #username 
                                formControlName="username" 
                                type="text" 
                                name="username"
                                placeholder="Enter Username"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Username must be at least 4 characters long
                                    and can only contain letters and numbers!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    <br>
                        <label class="new-user-info">Full Name:
                            <mat-form-field style="width: 250px; padding-left:4em">
                                <input matInput 
                                #fullName 
                                formControlName="fullName" 
                                type="text" 
                                name="fullName"
                                placeholder="Enter Full Name"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Full Name must be at least 4 characters long
                                    and can only contain Upper or Lowe case letters and White Spaces!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    <br>
                        <label class="new-user-info">Email Address:
                            <mat-form-field style="width: 250px; padding-left:2.1em">
                                <input matInput 
                                #email 
                                formControlName="email" 
                                type="text" 
                                name="email"
                                placeholder="Enter Email Address"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Please provide a valid email address!
                                    e.g.: something@gmail.com
                                </mat-error>
                            </mat-form-field>
                        </label>
                    <br>
                        <label class="new-user-info">User Status:&nbsp;
                            <mat-form-field style="width: 250px; padding-left:3.2em">
                                <mat-select
                                #userStatus 
                                formControlName="userStatus" 
                                name="userStatus" 
                                type="text" 
                                placeholder="Select Status">
                                    <mat-option value="true">Enabled</mat-option>
                                    <mat-option value="false">Disabled</mat-option>
                                </mat-select>
                                <mat-error>
                                    Status is required to be set!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    <button mat-raised-button color="primary" type="submit" style="margin: 20px;" [disabled]="!userForm.valid">Register User</button>
                </div>
                <div class="column">
                    <label class="new-user-info">Password:&nbsp;
                        <mat-form-field style="width: 360px; padding-left:7.8em">
                            <input matInput 
                            #password 
                            formControlName="password" 
                            type="text" 
                            name="password"
                            placeholder="Enter Password"
                            aria-describedby="titleHelp"
                            [type]="hidePassword ? 'password' : 'text'"/>
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                            <mat-error *ngIf="password.invalid">Password is required</mat-error> 
                            <mat-error>
                                Minimum: 8 characters long and 
                                must contain at least one Upper and Lower case letter and a number
                            </mat-error>
                        </mat-form-field>
                    </label>
                <br>
                    <label class="new-user-info">Password Confirmation:&nbsp;
                        <mat-form-field style="width: 250px; padding-left:1.8em">
                            <input matInput 
                            #password_confirmation 
                            formControlName="password_confirmation" 
                            type="text" 
                            name="password_confirmation"
                            placeholder="Enter Password Again"
                            aria-describedby="titleHelp"
                            [type]="hidePassword ? 'password' : 'text'"/>
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                            <mat-error *ngIf="password.invalid">Password is required</mat-error> 
                            <mat-error *ngIf="password.value != password_confirmation">
                                Passwords must Match!
                            </mat-error>
                        </mat-form-field>
                    </label>
                <br>
                    <label *ngIf="authService.isAdmin" class="new-user-info">User Role:&nbsp;
                        <mat-form-field style="width: 250px; padding-left:8.1em">
                            <mat-select
                            #userRole 
                            formControlName="userRole" 
                            name="userRole" 
                            type="text" 
                            placeholder="Select Role">
                                <mat-option value="ROLE_ADMIN" 
                                (click)="setSelectedRole('ROLE_ADMIN')">Admin</mat-option>
                                <mat-option value="ROLE_DIRECTOR" 
                                (click)="setSelectedRole('ROLE_DIRECTOR')" 
                                *ngIf="authService.isAdmin">
                                    Director</mat-option>
                                <mat-option value="ROLE_MANAGER" 
                                (click)="setSelectedRole('ROLE_MANAGER')" 
                                *ngIf="authService.isAdmin || authService.isDirector">
                                    Manager</mat-option>
                            </mat-select>
                            <mat-error>
                                Please Choose a Role!
                            </mat-error>
                        </mat-form-field>
                    </label>
                <br>
                    <label *ngIf="authService.isAdmin" class="new-user-info">Workplace Of User:&nbsp;
                        <mat-form-field style="width: 250px; padding-left:4.1em">
                            <mat-select
                            #workplace
                            formControlName="workplace" 
                            name="workplace" 
                            type="text" 
                            placeholder="Select Workplace">
                                <mat-option value="" disabled>Choose a Company</mat-option>
                                <ng-container *ngFor="let company of this.userList.companies">
                                    <mat-option *ngIf="company.active" [value]="company.name">
                                        {{company.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                Please Choose a Company!
                            </mat-error>
                        </mat-form-field>
                    </label>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>