<div class="card fixedContainer userTable" style="background-color: rgb(33, 37, 41);">
    <form [formGroup]="userForm" (submit)="submit()">
        <div style="margin: 10px;">
            <table class="table table-sm ellipsis" style="background-color: rgb(33, 37, 41); margin: 20px">
                <tbody>
                    <tr>
                        <label class="whiteLabel">Username:
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #username 
                                formControlName="username" 
                                type="text" 
                                name="username"
                                placeholder="Enter Usernameame"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Username is required!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <label>User Status:&nbsp;
                            <mat-form-field style="width: 200px;">
                                <mat-select
                                #userStatus 
                                formControlName="userStatus" 
                                name="userStatus" 
                                type="text" 
                                placeholder="Select Status">
                                    <mat-option value="true">Enabled</mat-option>
                                    <mat-option value="false">Disabled</mat-option>
                                </mat-select>
                                <mat-error>
                                    Status is required to be set!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <label>Password:&nbsp;
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #password 
                                formControlName="password" 
                                type="text" 
                                name="password"
                                placeholder="Enter Password"
                                aria-describedby="titleHelp"
                                [type]="hidePassword ? 'password' : 'text'"/>
                                <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                                <mat-error *ngIf="password.invalid">Password is required</mat-error> 
                                <mat-error>
                                    Password is required!
                                </mat-error>
                            </mat-form-field>
                        </label><!--TODO add 2. password field-->
                    </tr>
                    <tr *ngIf="authService.user.role ==='ROLE_ADMIN'">
                        <label>User Role:&nbsp;
                            <mat-form-field style="width: 200px;">
                                <mat-select
                                #userRole 
                                formControlName="userRole" 
                                name="userRole" 
                                type="text" 
                                placeholder="Select Role">
                                    <mat-option value="ROLE_ADMIN" 
                                    (click)="setSelectedRole('ROLE_ADMIN')">Admin</mat-option>
                                    <mat-option value="ROLE_DIRECTOR" 
                                    (click)="setSelectedRole('ROLE_DIRECTOR')" 
                                    *ngIf="authService.user.role ==='ROLE_ADMIN'">
                                        Director</mat-option>
                                    <mat-option value="ROLE_MANAGER" 
                                    (click)="setSelectedRole('ROLE_MANAGER')" 
                                    *ngIf="authService.user.role ==='ROLE_ADMIN' || authService.user.role ==='ROLE_DIRECTOR'">
                                        Manager</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please Choose a Role!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr *ngIf="authService.user.role ==='ROLE_ADMIN'">
                        <label>Workplace Of User:&nbsp;
                            <mat-form-field style="width: 200px;">
                                <mat-select
                                #workplace
                                formControlName="workplace" 
                                name="workplace" 
                                type="text" 
                                placeholder="Select Workplace">
                                    <mat-option value="">Choose a Company</mat-option>
                                    <ng-container *ngFor="let company of this.userList.companies">
                                        <mat-option *ngIf="company.active" [value]="company.name">
                                            {{company.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error>
                                    Please Choose a Company!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Add Order</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>