.table-curved {
    border-radius: 10px;
}

.filterPanel {
    background-color: rgb(33, 37, 41);
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 140px;
    position: relative;
}

.filterTool {
    margin: 10px 20px 10px 20px;
}

#closeButton {
    position: absolute;
    color: rgb(190, 190, 190);
    top: 5px;
    right: 5px;
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-container {
    width: 100%;
    height: 100%;
    margin: 12px;
  }
  