<div class="panel panel-default" style="margin: 20px;">

  <div class="filterPanel" *ngIf="authService.filters">
    <mat-form-field class="filterTool">  
      <input matInput 
      name="term"
      [(ngModel)]="term"
      type="text"
      placeholder="Search by Product Name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field class="filterTool" *ngIf="this.orderService.href === 'sales' || this.orderService.href === 'orders'">
      <mat-label>Select Buyer Company:</mat-label>
      <mat-select>
          <mat-option value="" (click)="onBuyerCompanyFilterChange('')">
          All Companies
          </mat-option>
          <mat-option *ngFor="let workplace of companiesFromOrders" [value]="workplace" (click)="onBuyerCompanyFilterChange(workplace)">
              {{workplace}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filterTool" *ngIf="this.orderService.href === 'purchases' || this.orderService.href === 'orders'">
      <mat-label>Select Seller Company:</mat-label>
      <mat-select>
          <mat-option value="" (click)="onSellerCompanyFilterChange('')">
          All Companies
          </mat-option>
          <mat-option *ngFor="let workplace of companiesFromOrders" [value]="workplace" (click)="onSellerCompanyFilterChange(workplace)">
              {{workplace}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <order-status-filter class="filterTool" [status]="selectedStatus" [statuses]="statuses" (onChange)="onFilterChange($event)"></order-status-filter>
  </div>

  <h2 style="margin-left: 20px;"> {{title}} </h2>
  <table matSort (matSortChange)="sortData($event)" class="table table-hover table-dark table-curved">
    <thead>
        <th scope="col" mat-sort-header="productName">Product Name</th>
        <th scope="col" mat-sort-header="price">Price</th>
        <th scope="col" mat-sort-header="status">Status</th>
        <th scope="col" mat-sort-header="buyer">Buyer Company</th>
        <th scope="col" mat-sort-header="buyerManager">Buyer Manager</th>
        <th scope="col" mat-sort-header="seller">Seller Company</th>
        <th scope="col" mat-sort-header="sellerManager">Seller Manager</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders | filter : term | orderBuyerFilter : selectedBuyerCompanyName | orderSellerFilter : selectedSellerCompanyName">
        <td *ngIf="order.buyer; else missing">
          <a [routerLink]="['/orders', order.id]" style="color: azure;">{{order.productName | uppercase}}</a></td>
        <td *ngIf="order.buyer; else missing">{{order.price | number}} Ft</td>
        <td *ngIf="order.buyer; else missing">{{order.status}}</td>
        <td *ngIf="order.buyer; else unassigned">{{order.buyer.name}}</td>
        <td *ngIf="order.buyerManager; else unassigned">{{order.buyerManager.username}}</td>
        <td *ngIf="order.seller; else unassigned">{{order.seller.name}}</td>
        <td *ngIf="order.sellerManager; else unassigned">{{order.sellerManager.username}}</td>
        <td><button mat-raised-button color="primary" [routerLink]="['/orders/edit', order.id]">
            <mat-icon>edit</mat-icon>&nbsp;Edit
          </button></td>
        <td><button mat-raised-button color="warn" (click)="openDeleteOrderDialog(order)">
            <mat-icon>delete</mat-icon>&nbsp;Delete
          </button></td>

        <ng-template #unassigned>
          <td>
            <strong><a style="color: orangered;">UNASSIGNED</a></strong>
          </td>
        </ng-template>

        <ng-template #missing>
          <td><strong style="color: green;">Please Add Value</strong></td>
        </ng-template>
      </tr>
    </tbody>
  </table>

  <button *ngIf="!addOrder; else cancel" style="margin-left: 10px;" (click)="toggleAddOrder()" mat-raised-button
    color="primary">
    <mat-icon>add</mat-icon>&nbsp;Add {{addButtonText}}
  </button>
  <ng-template #cancel>
    <button *ngIf="addOrder" style="margin-left: 10px;" (click)="toggleAddOrder()" mat-raised-button color="primary">
      <mat-icon>remove</mat-icon>&nbsp;Cancel new {{addButtonText}}
    </button>
  </ng-template>

  <div *ngIf="addOrder">
    <h4 *ngIf="addButtonText === 'Sale'; else purchase" style="margin: 10px;">Give an Offer:</h4>
    <ng-template #purchase>
      <h4 style="margin: 10px;">Order from a Company:</h4>
    </ng-template>

    <new-order-form></new-order-form>
  </div>

</div>

<!--<footer>
  <mat-divider style="width: 100%;"></mat-divider>
  <p class="dividerText">&copy; All rights reserved for <i>SupplyManagerSystem</i> 2020<br>Page hints</p>
</footer>-->