.unassigned{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.backButton{
    margin-top: 10px;
    margin-left: 50px;
}

.order-card {
    width: 400px;
    height: 600px;
    margin: 20px;
}

.order-info{
    margin-left: 15px;
    margin-top: 5px;
    font-size: medium;
}

