<mat-toolbar color="primary" role="heading">
  <ng-container *ngIf="authService.isLoggedIn" class="wideMenu" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <!--Admin menu-->
    <ng-container *ngIf="authService.user.role === 'ROLE_ADMIN'; else director" class="wideMenu" fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/orders"><mat-icon>explore</mat-icon>&nbsp;Supply Manager System (SMS) Client</button>

      <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-button routerLink="/sales"><mat-icon>all_out</mat-icon>&nbsp;Sales</button>
      <button mat-button routerLink="/purchases"><mat-icon>all_inbox</mat-icon>&nbsp;Purchases</button>
      <button mat-button routerLink="/orders"><mat-icon>fingerprint</mat-icon>&nbsp;All Orders</button>
      <button mat-button routerLink="/users"><mat-icon>person</mat-icon>&nbsp;Users</button>
      <button mat-button routerLink="/companies"><mat-icon>apartment</mat-icon>&nbsp;Companies</button>
      <button mat-button routerLink="/stats"><mat-icon>pie_chart</mat-icon>&nbsp;Statistics</button>
      <span class="fill-space"></span>
      <button mat-flat-button disabled style="color: white;">Welcome, {{ authService.user.username }}! - [{{authService.user.workplace.name}} {{ authService.user.role }}]</button>
      <button mat-button routerLink="/logs"><mat-icon>dvr</mat-icon>&nbsp;Logs</button>
      <button mat-button (click)="authService.toggleFilters()"><mat-icon>search</mat-icon>&nbsp;</button>
      <button mat-stroked-button (click)="logout()"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</button>
    </ng-container>
    <!--Director menu-->
    <ng-template #director>
      <ng-container *ngIf="authService.user.role === 'ROLE_DIRECTOR'; else manager">
        <button mat-button routerLink="/"><mat-icon>explore</mat-icon>&nbsp;Supply Manager System (SMS) Client</button>
        <button mat-button routerLink="/sales"><mat-icon>all_out</mat-icon>&nbsp;Sales</button>
        <button mat-button routerLink="/purchases"><mat-icon>all_inbox</mat-icon>&nbsp;Purchases</button>
        <button mat-button routerLink="/users"><mat-icon>person</mat-icon>&nbsp;Emplyees</button>
        <button mat-button routerLink="/companies"><mat-icon>apartment</mat-icon>&nbsp;Companies</button>
        <button mat-button routerLink="/stats"><mat-icon>pie_chart</mat-icon>&nbsp;Statistics</button>
        <span class="fill-space"></span>
        <button mat-flat-button disabled style="color: white;">Welcome, {{ authService.user.username }}! - [{{authService.user.workplace.name}} {{ authService.user.role }}]</button>
        <button mat-button (click)="authService.toggleFilters()"><mat-icon>search</mat-icon>&nbsp;</button>
        <button mat-stroked-button (click)="logout()"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</button>
      </ng-container>
    </ng-template>
    <!--Manager menu-->
    <ng-template #manager>
      <ng-container *ngIf="authService.user.role === 'ROLE_MANAGER'">
        <button mat-button routerLink="/"><mat-icon>explore</mat-icon>&nbsp;Supply Manager System (SMS) Client</button>
        <button mat-button routerLink="/sales"><mat-icon>all_out</mat-icon>&nbsp;Sales</button>
        <button mat-button routerLink="/purchases"><mat-icon>all_inbox</mat-icon>&nbsp;Purchases</button>
        <button mat-button routerLink="/users"><mat-icon>person</mat-icon>&nbsp;Colleagues</button>
        <button mat-button routerLink="/companies"><mat-icon>apartment</mat-icon>&nbsp;Companies</button>
        <span class="fill-space"></span>
        <button mat-flat-button disabled style="color: white;">Welcome, {{ authService.user.username }}! - [{{authService.user.workplace.name}} {{ authService.user.role }}]</button>
        <button mat-button (click)="authService.toggleFilters()"><mat-icon>search</mat-icon>&nbsp;</button>
        <button mat-stroked-button (click)="logout()"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</button>
      </ng-container>
    </ng-template>

  </ng-container>

  <!--Login menu-->
  <ng-container *ngIf="!authService.isLoggedIn" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button><mat-icon>explore</mat-icon>&nbsp;Supply Manager System (SMS) Client</button>
    <button mat-stroked-button routerLink="/login"><mat-icon>power_settings_new</mat-icon>&nbsp;Login</button>
  </ng-container>
  
</mat-toolbar>

<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item routerLink="/sales"><mat-icon>all_inbox</mat-icon>&nbsp;Sales</button>
  <button mat-menu-item routerLink="/purchases"><mat-icon>all_out</mat-icon>&nbsp;Purchases</button>
  <button mat-menu-item routerLink="/users"><mat-icon>person</mat-icon>&nbsp;Users</button>
  <button mat-menu-item routerLink="/companies"><mat-icon>apartment</mat-icon>&nbsp;Companies</button>
  <button mat-menu-item routerLink="/logs"><mat-icon>dvr</mat-icon>&nbsp;Logs</button>
  <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</button>
</mat-menu>

<router-outlet></router-outlet>