<div *ngIf="loaded" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
    <form [formGroup]="orderForm" (submit)="submit()">
        <mat-card class="new-order-card">
            <mat-card-content>
                <h4 *ngIf="this.orderService.href === 'sales'; else purchase" style="margin: 10px;">Give an Offer:</h4>
                <ng-template #purchase>
                    <h4 *ngIf="this.orderService.href === 'purchases'; else order" style="margin: 10px;">Order from a Company:</h4>
                </ng-template>
                <ng-template #order>
                    <h4 style="margin: 10px;">Add New Order:</h4>
                </ng-template>
                <div class="column">
                    <label class="new-order-info" >Product Name:
                        <mat-form-field style="width: 200px; padding-left:2em">
                            <input matInput 
                            #productName 
                            formControlName="productName" 
                            type="text" 
                            name="productName"
                            placeholder="Enter Product Name"
                            aria-describedby="titleHelp" />
                            <mat-error>
                                Name must be at least 3 characters long!
                            </mat-error>
                        </mat-form-field>
                    </label>
                <br>
                    <label class="new-order-info">Product Price:
                        <mat-form-field style="width: 210px; padding-left:2.5em">
                            <input matInput 
                            #productPrice 
                            formControlName="productPrice" 
                            type="text" 
                            name="productPrice" 
                            placeholder="Set Price"
                            aria-describedby="titleHelp" />
                            <mat-error>
                                Price can only contains numbers (Ft)
                            </mat-error>
                        </mat-form-field>
                    </label>
                <br>
                    <label class="new-order-info">Product Status:&nbsp;
                        <mat-form-field style="width: 200px; padding-left:1.7em">
                            <mat-select
                            #productStatus 
                            formControlName="productStatus" 
                            name="productStatus" 
                            placeholder="Enter Status">
                                <mat-option *ngFor="let status of statuses" [value]="status">{{this.enumService.getStatusString(status)}}</mat-option>
                            </mat-select>
                            <mat-error>
                                Product Status is needed to be set!
                            </mat-error>
                        </mat-form-field>
                    </label>
                    
                    <button mat-raised-button color="primary" type="submit" [disabled]="!orderForm.valid" style="margin: 20px;">Add Order</button>
                </div>
                
                <div class="column">
                    <!--== Admin Page ==-->
                    <ng-container *ngIf="authService.isAdmin">                    
                            <label class="new-order-info">Buyer Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2em">
                                    <mat-select 
                                    #buyer 
                                    formControlName="buyer" 
                                    name="buyer" 
                                    placeholder="Select Buyer Company">
                                        <mat-option value="" disabled>Choose a Company</mat-option>
                                        <ng-container *ngFor="let company of selectableCompanyiesForBuyer">
                                            <mat-option *ngIf="company.active"
                                                    [value]="company.name"
                                                    (click)="filterUsersOfBuyerCompany(company.name)">{{company.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Company
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Buyer Manager:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.3em">
                                    <mat-select 
                                    #buyerManager 
                                    formControlName="buyerManager" 
                                    name="buyerManager" 
                                    placeholder="Select Seller Manager">
                                        <mat-option value="">Choose a User</mat-option>
                                        <ng-container *ngFor="let user of usersOfBuyerCompany">
                                            <mat-option *ngIf="user.enabled"
                                            [value]="user.username">{{user.username}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Manager
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Seller Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2em">
                                    <mat-select 
                                    #seller 
                                    formControlName="seller" 
                                    name="seller" 
                                    placeholder="Select Seller Company">
                                        <mat-option value="" disabled>Choose a Company</mat-option>
                                        <ng-container *ngFor="let company of selectableCompanyiesForSeller">
                                            <mat-option *ngIf="company.active"
                                                [value]="company.name"
                                                (click)="filterUsersOfSellerCompany(company.name)">{{company.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Company
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Seller Manager:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.3em">
                                    <mat-select 
                                    #sellerManager 
                                    formControlName="sellerManager" 
                                    name="sellerManager" 
                                    placeholder="Select seller Manager">
                                        <mat-option value="">Choose a User</mat-option>
                                        <ng-container *ngFor="let user of usersOfSellerCompany">
                                            <mat-option *ngIf="user.enabled"
                                            [value]="user.username">{{user.username}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Manager
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                    </ng-container>

                    <!--== Sales ==-->
                    <ng-container *ngIf="orderService.href === 'sales' && !authService.isAdmin">
                        <strong><br>Choose who you want to sell to:<br><br></strong>
                            <label class="new-order-info">Buyer Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2em">
                                    <mat-select 
                                    #buyer 
                                    formControlName="buyer" 
                                    name="buyer" 
                                    placeholder="Select Buyer Company">
                                        <mat-option value="" disabled>Choose a Company</mat-option>
                                        <ng-container *ngFor="let company of companies">
                                            <mat-option *ngIf="company.id !== authService.user.workplace.id && company.active"
                                                [value]="company.name">{{company.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Company
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Seller Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.1em">
                                    <input
                                        matInput
                                        #seller 
                                        formControlName="seller" 
                                        name="seller" 
                                        placeholder="Select Seller Company">
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Seller Manager:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.3em">
                                    <mat-select 
                                    #sellerManager 
                                    formControlName="sellerManager" 
                                    name="sellerManager" 
                                    placeholder="Select seller Manager">
                                        <mat-option value="">Choose a User</mat-option>
                                        <ng-container *ngFor="let user of users">
                                            <mat-option *ngIf="user.enabled"
                                            [value]="user.username">{{user.username}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Manager
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>
                    </ng-container>

                    <!--== Purchases ==-->
                    <ng-container *ngIf="orderService.href === 'purchases' && !authService.isAdmin">
                        <strong><br>Choose who you want to order from:<br><br></strong>
                        
                            <label class="new-order-info">Buyer Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2em">
                                    <input
                                        matInput
                                        #seller 
                                        formControlName="buyer" 
                                        name="buyer" 
                                        placeholder="Select Buyer Company">
                                </mat-form-field>
                            </label>
                        <br>
                            <label class="new-order-info">Buyer Manager:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.3em">
                                    <mat-select 
                                    #buyerManager 
                                    formControlName="buyerManager" 
                                    name="buyerManager" 
                                    placeholder="Select Seller Manager">
                                        <mat-option value="">Choose a Colleague</mat-option>
                                        <ng-container *ngFor="let user of users">
                                            <mat-option *ngIf="user.enabled"
                                            [value]="user.username">{{user.username}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Manager
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>   
                            <label class="new-order-info">Seller Company:&nbsp;
                                <mat-form-field style="width: 200px; padding-left:2.1em">
                                    <mat-select 
                                    #seller 
                                    formControlName="seller" 
                                    name="seller" 
                                    placeholder="Select Seller Company">
                                        <mat-option value="" disabled>Choose a Company</mat-option>
                                        <ng-container *ngFor="let company of companies">
                                            <mat-option *ngIf="company.id !== authService.user.workplace.id && company.active"
                                            [value]="company.name">{{company.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        Please Select a Company
                                    </mat-error>
                                </mat-form-field>
                            </label>
                        <br>                  
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>