<form [formGroup]="userForm" (submit)="submit()">
    <div style="margin: 20px;">
      <h1>Edit User</h1>
    </div>
    <div *ngIf="user" class="card" style="width: 40rem; margin: 20px;">
      <div class="card-body">
        <h2 class="font-weight-bold mb-3">User: {{user.username}}</h2>
      </div>
  
      <ul class="list-group list-group-flush">
  
        <li class="list-group-item">
         <label class="whiteLabel">Username: &nbsp;
          <mat-form-field style="width: 200px;">
              <input matInput 
                #username
                formControlName="username" 
                [(ngModel)]="user.username"
                type="text" 
                name="username"
                placeholder="Enter Username"
                aria-describedby="titleHelp" 
                required/>
                <mat-error>
                    Username must be at least 4 characters long
                    and can only contain letters and numbers!
                </mat-error>
            </mat-form-field>
          </label>
        </li>
        
        <li class="list-group-item">
            <label class="whiteLabel">Full Name: &nbsp;
             <mat-form-field style="width: 200px;">
                 <input matInput 
                   #fullName
                   formControlName="fullName" 
                   [(ngModel)]="user.fullName"
                   type="text" 
                   name="fullName"
                   placeholder="Enter Full Name"
                   aria-describedby="titleHelp" 
                   required/>
                   <mat-error>
                        Full Name must be at least 4 characters long
                        and can only contain Upper or Lowe case letters and White Spaces!
                   </mat-error>
               </mat-form-field>
             </label>
           </li>

           <li class="list-group-item">
            <label class="whiteLabel">Email Address: &nbsp;
             <mat-form-field style="width: 200px;">
                <input matInput 
                   #email
                   formControlName="email" 
                   [(ngModel)]="user.email"
                   type="email" 
                   name="email"
                   placeholder="Enter email"
                   aria-describedby="titleHelp" 
                   required/>
                   <mat-error>
                    Please provide a valid email address!
                    e.g.: something@gmail.com
                   </mat-error>
                </mat-form-field>
            </label>
        </li>
           
        <li class="list-group-item" *ngIf="user.id !== authService.user.id">
         <label class="whiteLabel">User Status (Enable/Disable): &nbsp;
            <mat-checkbox 
                type="checkbox" 
                value="user.enabled"
                formControlName="userStatus"
                [(ngModel)]="user.enabled">
            </mat-checkbox>
          </label>
        </li>

        <li class="list-group-item">
            <label class="whiteLabel">Password: &nbsp;
                <mat-form-field style="width: 200px;">
                    <input matInput 
                        #password 
                        formControlName="newPassword" 
                        name="newPassword"
                        placeholder="Enter Password"
                        aria-describedby="titleHelp"
                        [type]="hidePassword ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                        <mat-error> 
                            Minimum: 8 characters long and 
                            must contain at least one Upper and Lower case letter and a number
                        </mat-error> 
                </mat-form-field>
            </label>
        </li> <!--TODO Password confirmation-->
        <li class="list-group-item">
            <label class="whiteLabel">Password Confirmation: &nbsp;
                <mat-form-field style="width: 200px;">
                    <input matInput 
                        #confirmNewPassword 
                        formControlName="confirmNewPassword" 
                        name="confirmNewPassword"
                        placeholder="Enter Password Again"
                        aria-describedby="titleHelp"
                        [type]="hidePassword ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                        <mat-error> 
                            Passwords must Match!
                        </mat-error> 
                </mat-form-field>
            </label>
        </li>
        <!--TODO errors overfit their containr in heright!-->
        <li class="list-group-item" *ngIf="authService.user.role === 'ROLE_ADMIN' && authService.user.id !== user.id">
            <label>User Role:&nbsp;
                <mat-form-field style="width: 200px;">
                    <mat-select
                    #userRole 
                    formControlName="userRole" 
                    name="userRole" 
                    type="text" 
                    placeholder="Select Role"
                    [(ngModel)]="user.role"
                    required>
                    <mat-option value="ROLE_ADMIN" 
                        (click)="setSelectedRole('ROLE_ADMIN')">Admin</mat-option>
                        <mat-option value="ROLE_DIRECTOR" 
                        (click)="setSelectedRole('ROLE_DIRECTOR')" 
                        *ngIf="authService.user.role ==='ROLE_ADMIN'">
                            Director</mat-option>
                        <mat-option value="ROLE_MANAGER" 
                        (click)="setSelectedRole('ROLE_MANAGER')" 
                        *ngIf="authService.user.role ==='ROLE_ADMIN' || authService.user.role ==='ROLE_DIRECTOR'">
                            Manager</mat-option>
                    </mat-select>
                    <mat-error>
                        Please select a role!
                    </mat-error>
                </mat-form-field>
            </label>
        </li>

        <li class="list-group-item" *ngIf="authService.user.role ==='ROLE_ADMIN'">
            <label>Workplace Of User:&nbsp;
                <mat-form-field style="width: 200px;">
                    <mat-select
                    #workplace
                    formControlName="workplace" 
                    name="workplace" 
                    type="text" 
                    [(ngModel)]="user.workplace.name"
                    placeholder="Select Workplace"
                    required>
                        <mat-option value="" disabled>Choose a Company</mat-option>
                        <ng-container *ngFor="let company of companies">
                            <mat-option *ngIf="company.active" [value]="company.name">
                                {{company.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>
                        Please select a Workplace!
                    </mat-error>
                </mat-form-field>
            </label>
        </li>
        
    </ul>
    <div class="card-body">
      <button [routerLink]="['/users/edit', user.id]" mat-raised-button [disabled]="!userForm.valid" color="primary"
      type="submit">Save User</button>
    </div>
  </div>
</form>

<div><button mat-raised-button color="primary" class="backButton" (click)="goBack()">Back</button></div>