<form [formGroup]="userForm" (submit)="submit()">
    <div style="margin: 20px;">
      <h1>Edit User</h1>
    </div>
    <div *ngIf="user" class="card" style="width: 40rem; margin: 20px;">
      <div class="card-body">
        <h2 class="font-weight-bold mb-3">User: {{user.username}}</h2>
      </div>
  
      <ul class="list-group list-group-flush">
  
        <li class="list-group-item">
         <label class="whiteLabel">Username: &nbsp;
          <mat-form-field style="width: 200px;">
              <input matInput 
              #username
              formControlName="username" 
              [(ngModel)]="user.username"
              type="text" 
              name="username"
              placeholder="Enter Username"
              aria-describedby="titleHelp" />
            </mat-form-field>
          </label>
        </li>
        
        <li class="list-group-item">
         <label class="whiteLabel">User Status (Enable/Disable): &nbsp;
            <mat-checkbox 
                type="checkbox" 
                value="user.enabled"
                formControlName="userStatus"
                [(ngModel)]="user.enabled">
            </mat-checkbox>
          </label>
        </li>

        <li class="list-group-item">
            <label class="whiteLabel">Password: &nbsp;
                <mat-form-field style="width: 200px;">
                    <input matInput 
                        #password 
                        formControlName="newPassword" 
                        name="newPassword"
                        placeholder="Enter Password"
                        aria-describedby="titleHelp"
                        [type]="hidePassword ? 'password' : 'text'"/>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">lock</mat-icon>
                        <mat-error *ngIf="password.invalid">Password is required</mat-error> 
                </mat-form-field>
            </label>
        </li>

        <li class="list-group-item" *ngIf="authService.user.role === 'ROLE_ADMIN' && authService.user.id !== user.id">
            <label>User Role:&nbsp;
                <mat-form-field style="width: 200px;">
                    <mat-select
                    #userRole 
                    formControlName="userRole" 
                    name="userRole" 
                    type="text" 
                    placeholder="Select Role"
                    [(ngModel)]="user.role">
                    <mat-option value="ROLE_ADMIN" 
                        (click)="setSelectedRole('ROLE_ADMIN')">Admin</mat-option>
                        <mat-option value="ROLE_DIRECTOR" 
                        (click)="setSelectedRole('ROLE_DIRECTOR')" 
                        *ngIf="authService.user.role ==='ROLE_ADMIN'">
                            Director</mat-option>
                        <mat-option value="ROLE_MANAGER" 
                        (click)="setSelectedRole('ROLE_MANAGER')" 
                        *ngIf="authService.user.role ==='ROLE_ADMIN' || authService.user.role ==='ROLE_DIRECTOR'">
                        Manager</mat-option>
                    </mat-select>
                </mat-form-field>
            </label>
        </li>

        <li class="list-group-item" *ngIf="authService.user.role ==='ROLE_ADMIN'">
            <label>Workplace Of User:&nbsp;
                <mat-form-field style="width: 200px;">
                    <mat-select
                    #workplace
                    formControlName="workplace" 
                    name="workplace" 
                    type="text" 
                    [(ngModel)]="user.workplace.name"
                    placeholder="Select Workplace">
                        <mat-option value="">Choose a Company</mat-option>
                        <ng-container *ngFor="let company of companies">
                            <mat-option *ngIf="company.active" [value]="company.name">
                                {{company.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </label>
        </li>
        
    </ul>
    <div class="card-body">
      <button [routerLink]="['/users/edit', user.id]" mat-raised-button [disabled]="!userForm.valid" color="primary"
      type="submit">Save User</button>
    </div>
  </div>
</form>

<div><button mat-raised-button color="primary" class="backButton" (click)="goBack()">Back</button></div>