<div *ngIf="loaded" class="panel panel-default" style="margin: 20px;">

  <!--Order Filter Panel-->
  <div class="filterPanel" *ngIf="authService.filters">
    <mat-form-field class="filterTool">  
      <input matInput autofocus
      name="term"
      [(ngModel)]="term"
      type="text"
      placeholder="Search by Product">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field class="filterTool" style="width: 200px;" *ngIf="this.orderService.href === 'sales' || this.orderService.href === 'orders'">
      <mat-label>Select Buyer Company:</mat-label>
      <mat-select>
          <mat-option value="" (click)="onBuyerCompanyFilterChange('')">
          All Companies
          </mat-option>
          <mat-option *ngFor="let workplace of companiesFromOrders" [value]="workplace" (click)="onBuyerCompanyFilterChange(workplace)">
              {{workplace}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filterTool" style="width: 200px;" *ngIf="this.orderService.href === 'purchases' || this.orderService.href === 'orders'">
      <mat-label>Select Seller Company:</mat-label>
      <mat-select>
          <mat-option value="" (click)="onSellerCompanyFilterChange('')">
          All Companies
          </mat-option>
          <mat-option *ngFor="let workplace of companiesFromOrders" [value]="workplace" (click)="onSellerCompanyFilterChange(workplace)">
              {{workplace}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <order-status-filter class="filterTool" [status]="selectedStatus" [statuses]="statuses" (onChange)="onFilterChange($event)"></order-status-filter>
    <br>
    <label class="filterTool">Hide Archived: &nbsp;</label>
    <mat-checkbox 
        type="checkbox" 
        value="hideArchived"
        [(ngModel)]="hideArchived">
    </mat-checkbox>

    <button mat-button id="closeButton" (click)="closeFilter()">Close Filter</button>
  </div>

  <!--Order Title and New Order Button-->
  <h2 style="margin-left: 20px;"> {{title}} 
    <button *ngIf="!addOrder && this.authService.url != '/myorders'; else cancel" style="margin-left: 10px;" (click)="toggleAddOrder()" (click)="this.loadingService.setLoading(true);" mat-raised-button
    color="primary">
    <mat-icon>add</mat-icon>&nbsp;{{addButtonText}}
  </button>
  </h2>

  <ng-template #cancel>
    <button *ngIf="addOrder" style="margin-left: 10px;" (click)="toggleAddOrder()" mat-raised-button color="primary">
      <mat-icon>remove</mat-icon>&nbsp;Cancel New Order
    </button>
  </ng-template>

  <div *ngIf="addOrder">
    <new-order-form></new-order-form>
  </div>

  <!--Order List-->
  <table matSort (matSortChange)="sortData($event)" class="table table-hover table-dark table-curved">
    <thead>
        <th scope="col" mat-sort-header="productName">Product</th>
        <th scope="col" mat-sort-header="status">Status</th>
        <th scope="col" mat-sort-header="archived">Active</th>
        <th scope="col" mat-sort-header="buyer">Buyer Company</th>
        <th scope="col" mat-sort-header="buyerManager">Buyer Manager</th>
        <th scope="col" mat-sort-header="seller">Seller Company</th>
        <th scope="col" mat-sort-header="sellerManager">Seller Manager</th>
        <th scope="col" mat-sort-header="createdAt">Creation</th>
        <th scope="col">Edit</th>
        <th *ngIf="!this.authService.isAdmin; else adminDeleteTh" scope="col">Archive</th>
        <ng-template #adminDeleteTh>
          <th scope="col">Delete</th>
        </ng-template>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders | filter : term | orderBuyerFilter : selectedBuyerCompanyName | orderSellerFilter : selectedSellerCompanyName | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | archivedFilter : hideArchived ">
        <td *ngIf="order.productName; else missing" [routerLink]="['/orders', order.id]">{{order.productName | uppercase}}</td>
        <td *ngIf="order.status; else missing" [routerLink]="['/orders', order.id]">{{this.enumService.getStatusString(order.status)}}</td>
        <td *ngIf="!order.archived; else archivedOrder" [routerLink]="['/orders', order.id]"><label style="color: green;"><mat-icon>done</mat-icon></label></td>
        <td *ngIf="order.buyer; else unassigned" [routerLink]="['/orders', order.id]">{{order.buyer.name}}</td>
        <td *ngIf="order.buyerManager; else unassigned" [routerLink]="['/orders', order.id]">{{order.buyerManager.username}}</td>
        <td *ngIf="order.seller; else unassigned" [routerLink]="['/orders', order.id]">{{order.seller.name}}</td>
        <td *ngIf="order.sellerManager; else unassigned" [routerLink]="['/orders', order.id]">{{order.sellerManager.username}}</td>
        <td *ngIf="order.createdAt; else missing" [routerLink]="['/orders', order.id]">{{order.createdAt | date :  "yyyy. MM. dd."}}</td>
        <td><button mat-raised-button color="primary" [routerLink]="['/orders/edit', order.id]">
            <mat-icon>edit</mat-icon>&nbsp;Edit
          </button>
        </td>
        <td *ngIf="this.authService.isAdmin; else archiveButton"><button mat-raised-button color="warn" (click)="openDeleteOrderDialog(order)">
            <mat-icon>delete</mat-icon>&nbsp;Delete
          </button>
        </td>

        <ng-template #archiveButton>
          <td *ngIf="!order.archived; else enableOrder">
            <button mat-raised-button color="warn" (click)="this.archiveOrder(order)">
              <mat-icon>remove_circle</mat-icon>&nbsp;Archive
            </button>
          </td>
        </ng-template>

        <ng-template #enableOrder>
          <td>
            <button mat-raised-button color="warn" (click)="this.activateOrder(order)">
              <mat-icon>remove_circle_outline</mat-icon>&nbsp;Activate
            </button>
         </td>
        </ng-template>

        <ng-template #unassigned>
          <td [routerLink]="['/orders', order.id]" >
            <label style="color: orangered;">UNASSIGNED</label>
          </td>
        </ng-template>

        <ng-template #archivedOrder>
          <td [routerLink]="['/orders', order.id]" >
            <label style="color: brown;"><mat-icon>clear</mat-icon></label>
          </td>
        </ng-template>

        <ng-template #missing>
          <td [routerLink]="['/orders', order.id]" >
            <label style="color: green;">Please Add Value</label>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  <ngb-pagination fxFlexFill fxLayout="row wrap" fxLayoutAlign="end" 
    [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredOrders.length">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
  </ngb-pagination>
</div>
