.whiteLabel{
    color: white;
}

.historyLabel{
    margin: 10px;
}

::ng-deep .mat-form-field-label{
    color: white !important;
}

::ng-deep input.mat-input-element {
    color: white;
  }
  
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
}

::ng-deep.mat-form-field{
    color: white;
}

.new-order-card {
    height: 390px;
    margin: 10px;
}

.new-order-info {
    margin-left: 15px;
    margin-top: 5px;
    font-size: medium;
}

.column {
    float: left;
    width: 50%;
}