<!--User info-->
<mat-card class="login-card" *ngIf="this.authService.user" style="background-color:rgb(69, 76, 68)">
    <mat-card-header>
        <mat-card-title><b>Logged In: </b> {{this.authService.user.username}}</mat-card-title>
        <mat-card-subtitle>
            <b>Role:</b> 
            {{this.enumService.getRoleString(this.role)}}
            <br>
            <b>Workplace:</b> 
            {{this.authService.user.workplace.name}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<!--Hints Title
<mat-card class="helper-card" style="height: 60px; background-color:rgb(69, 76, 68)">
    <mat-card-header>
        <mat-card-title>Hints: `{{this.url}}`</mat-card-title>
    </mat-card-header>
</mat-card>-->

<!--Logs Page info-->
<mat-card *ngIf="this.url === '/logs'" 
    class="helper-card" style="height: 160px">
    <mat-card-header>
        <mat-card-title>Logs</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        This Admin Tool is used to check and debug communication with the database.
        Every Service call is recorded here in a session.
    </mat-card-content>
</mat-card>

<!--Login Page info-->
<mat-card *ngIf="this.url === '/login' || this.url === '/logs'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title><mat-icon>warning</mat-icon> Bug Report</mat-card-title>
        <mat-card-subtitle>Report Bugs!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="helper-info">
        If you find any bug, unusual/strange behaviour, style glitch, 
        please let me know via this anonym form:
        <a target="_blank" href="https://forms.gle/dqkFesq5PxeRX19E6">Bug Report Form</a>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/login'" 
    class="helper-card" style="height: 160px">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>How to login:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Enter the Username and Password, then press Login to logon!
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/login'" 
    class="helper-card" style="height: 210px">
    <mat-card-header>
        <mat-card-title>Register Manager</mat-card-title>
        <mat-card-subtitle>How to Register Manager to your Company:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Company Directors have the rights to add Managers to their Company,
        if you are a new manager please contact with your boss,
        in order to get registered to the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/login'" 
    class="helper-card" style="height: 210px">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>How to Register Director or Company:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Supply Manager System (SMS) is a closed system which means that you need 
        to connect to an Admin in order to register. For this Please write to an admin:
        admin@supply.com
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/login'" 
    class="helper-card" style="height: 210px">
    <mat-card-header>
        <mat-card-title>Progress Bar</mat-card-title>
        <mat-card-subtitle>Progress Bar Functionality:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The system loads data from Database, so the red Progress bar shows up upon loading data, and the 
        components will only appear if the data is succesfully loaded.
    </mat-card-content>
</mat-card>

<!--Order List Page info for ADMINS-->
<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 270px">
    <mat-card-header>
        <mat-card-title>Records:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        <i>This page is Admin tool only!</i>
        Here all the orders can be found in the system.
        Every order must have a Product, a Price, a Status, 
        and Buyer, and seller Companies set.
        Managers can be <b style="color: red;">UNASSIGNED</b> at the beginning, 
        showing that the Order is possibly <i>New</i> in the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 220px">
    <mat-card-header>
        <mat-card-title>Order Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Admins have the right to modify the orders without regualtions.
        Admins can modify Buyer and Seller company and their related Managers 
        in case the creator made a mistake, and wants to sell to an other company.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Deletion:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Admins have the right to delete any of the orders without regualtions.
        Deleting an order will cause the connected Histories to get removed too.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 300px">
    <mat-card-header>
        <mat-card-title>Order Filtering:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        To access the filter bar click <b><mat-icon>search</mat-icon>Filter</b>.
        Companies can have a lot of Orders even <i>Sales</i> or <i>Purchases</i>
        To make this managable, SMS provides a variety of filters, and 
        Admins have even more filters to find all the orders.
        Admins can filter to: Name content, can filter to Buyer and Seller companies,
        and to make it even more handleable, orders can be filtered by Status too.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Add New Order:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Admins have the right to create new orders without regualtions.
        This means, that Admins can set way more fields then normal users.
        For more infommation, click <b>Add Order</b>!
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/orders' && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 230px">
    <mat-card-header>
        <mat-card-title>Add New Order:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Admins have the right to create new orders without regualtions.
        This means, that Admins can set way more fields then normal users.
        Unlike general users, Admins can add and assign Orders to any companies, and to any Managers.
    </mat-card-content>
</mat-card>

<!--Sales List Page info-->
<mat-card *ngIf="this.url === '/sales'" 
    class="helper-card" style="height: 250px">
    <mat-card-header>
        <mat-card-title>Records:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Here all the sales can be found of your company.
        Every order must have a Product, a Price, a Status, 
        and Buyer, and seller Companies set.
        Managers can be <b style="color: red;">UNASSIGNED</b> at the beginning, 
        showing that the Order is possibly <i>New</i> in the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/sales'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As you are the seller of this product, beyond the Product, the Price, and the Status, and descritpion
        you can modify the Seller Manager only. (Beyond archiving the order)
    </mat-card-content>
</mat-card>

<mat-card *ngIf="(this.url === '/sales' || this.url === '/purchases' )" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Archivation:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The best way to mark an Order as a completed one (besides setting the status) is to archive it.
        Archived orders cannot be modified and won't appear in the order list afterwards.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/sales'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Deletion:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Deleting an order will cause the connected Histories to get removed too, 
        so if you want to delete the complete order, please contact with an admin.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/sales'" 
    class="helper-card" style="height: 250px">
    <mat-card-header>
        <mat-card-title>Sale Filtering:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        To access the filter bar click <b><mat-icon>search</mat-icon>Filter</b>.
        To manage large amount of data, SMS provides many filters, 
        like filtering to buyer company, or to filter to Order status.
        Enetually you can sort the tables by pressing the arrow sign 
        next to the header of the tables.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/sales'" 
    class="helper-card" style="height: 240px">
    <mat-card-header>
        <mat-card-title>Give an Offer:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        You have the ability, to give an offer! For this, click <b>Give an Offer</b>! 
        At the form at the top, besides the basic fields you can set the company, you want to sell to,
        and you have to select one of your colleague to manage this order.
    </mat-card-content>
</mat-card>

<!--Purchases List Page info-->
<mat-card *ngIf="this.url === '/purchases'" 
    class="helper-card" style="height: 250px">
    <mat-card-header>
        <mat-card-title>Records:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Here all the purchases can be found of your company.
        Every order must have a Product, a Price, a Status, 
        and Buyer, and seller Companies set.
        Managers can be <b style="color: red;">UNASSIGNED</b> at the beginning, 
        showing that the Order is possibly <i>New</i> in the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/purchases'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As you are the buyer of this product, beyond the Product, the Price, and the Status, and descritpion
        you can modify the Buyer Manager only. (Beyond archiving the order)
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/purchases' || this.url === '/myorders'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Deletion:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Deleting an order will cause the connected Histories to get removed too, 
        so if you want to delete the complete order, please contact with an admin.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/purchases'" 
    class="helper-card" style="height: 250px">
    <mat-card-header>
        <mat-card-title>Sale Filtering:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        To access the filter bar click <b><mat-icon>search</mat-icon>Filter</b>.
        To manage large amount of data, SMS provides many filters, 
        like filtering to buyer company, or to filter to Order status.
        Enetually you can sort the tables by pressing the arrow sign 
        next to the header of the tables.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/purchases'" 
    class="helper-card" style="height: 230px">
    <mat-card-header>
        <mat-card-title>Request from an other company:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        You have the ability, to request an offer! For this, click <b>Give an Offer</b>! 
        At the form at the top, besides the basic fields you can set the company, you want to request from,
        and you have to select one of your colleague to manage this order.
    </mat-card-content>
</mat-card>

<!--Order Editing-->
<mat-card *ngIf="this.url.includes('/orders/edit') && this.role ==='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Editing as Buyer:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user, you have the option to mofidy not only the basic properties of an Order, 
        but to reassign it to different company, or manager. On the other hand, 
        Andims have only the right to delete an Order .
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/edit') && this.role !=='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Editing as Seller:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        If you are the seller of this product, beyond the Product, the Price, and the Status, and Descritpion
        you can modify the Seller Manager only. (Beyond archiving the order)
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/edit') && this.role !=='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Editing as Buyer:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        If you are the buyer of this product, beyond the Product, the Price, and the Status, and Descritpion
        you can modify the Buyer Manager only. (Beyond archiving the order)
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/edit')" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order Status:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Status is represented with the actual state of the order. It indicates the process.
        It can indicate the lifespan of the order, like: NEW... UNDER_PRODUCTION... UNDER_SHIPPING... SUCCESFULLY_COMPLETED.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/edit')" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Description:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Description is an optional field. Feel free to modify the description, to help other's work.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/edit') && this.role !=='ROLE_ADMIN'" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Archiving Order:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The best way to mark an Order as a completed one (besides setting the status) is to archive it.
        Archived orders cannot be modified and won't appear in the order list afterwards.
    </mat-card-content>
</mat-card>

<!--Order details & History Page info-->
<mat-card *ngIf="this.url.includes('/orders/')" 
    class="helper-card" style="height: 210px">
    <mat-card-header>
        <mat-card-title>Order:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        <i>Welcome to the Order detail page!</i>
        Here all the details can be checked like status, modification date, and description.
        Besides these, every order can have a number of histories indicating, the process of the case.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/')" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Histories:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Histories are indicating, the process of the case. Histories can be simple notes or can store 
        important data of the Order, or the wish of the partner company.
        You can add a history by clicking at the "Add History" button.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/')" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Behaviour of Histories:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Manually added Histories are private and, are only available to the company, who issued it.
        This way, companies can handle the process, privately.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/')" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>System Histories:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Upon modification of importatn aspect of an Order, like the Product itself, the price, 
        or the Status, the system generates a new history, logging the progress of the Order.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/orders/')" 
    class="helper-card" style="height: 140px">
    <mat-card-header>
        <mat-card-title>Quick status modification:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        You can modify the status of the order simply by clicking on the "Product Status" field.
    </mat-card-content>
</mat-card>

<!--My Orders Page Info-->
<mat-card *ngIf="this.url === '/myorders'" 
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>My Orders Page:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        <i>Welcome to the SMS Client!</i> 
        At this landing page you will see all the orders assigned to you. 
        You can easily open an Order by clicking on it.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/sales' || this.url === '/purchases' || this.url === '/myorders'"
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Archiving Order:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The best way to mark an Order as a completed one (besides setting the status) is to archive it.
        Archived orders cannot be modified and won't appear in the order list afterwards.
    </mat-card-content>
</mat-card>

<!--Users Page Info-->
<mat-card *ngIf="this.url === '/users' && this.authService.isAdmin" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Users:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user you are allowed to see all the Users registered to the System.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isAdmin" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>User editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user you are allowed to modify all the user accounts in the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isAdmin" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Disabling/Enabling:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user you are allowed to desable or enable any of the user accounts in the system. 
        Disabling an account will remove the right of the user to login to the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isDirector" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Employees:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Director user you are allowed to see all the Users working at your company.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isDirector" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Profile Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Director user you are allowed to modify all your employees.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isDirector" 
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Disabling/Enabling:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Director user you are allowed to desable or enable the accounts of your emplyees.
        Disabling an account will remove the right of the user to login to the system.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isManager" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Colleagues:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Manager user you are allowed to see all the Users working at your company.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isManager" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Profile Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Manager user you are only allowed to modify your profile only.
    </mat-card-content>
</mat-card>

<!--New User info-->

<!--User editing Page Info-->
<mat-card *ngIf="this.url.includes('/users/edit') && this.authService.isAdmin" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>User Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user you are allowed to modify any of the fields of a User.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/users/edit') && this.authService.isDirector" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>User Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Director user you are allowed to modify your employees, but their role cannot be modified.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/users/edit') && this.authService.isManager" 
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Profile Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Manager user you are only allowed to modify your profile. You can reset your password.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/users/edit')" 
    class="helper-card" style="height: 180px">
    <mat-card-header>
        <mat-card-title>New Password:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        You can reset your password by typing it in to the password boxes.
        Leaving those boxes empty, will couse your password to remain the old one.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/users/edit')" 
    class="helper-card" style="height: 160px">
    <mat-card-header>
        <mat-card-title>Modificating your own account:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Modifying your account, will warn you, that you will be logged out!
        After the modification, you will be asked to re-login.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isAdmin"
    class="helper-card" style="height: 180px">
    <mat-card-header>
        <mat-card-title>Registering new User:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Admins have the option to register New users with any role. 
        They can also set the workplace of any users, beyond basic data like, name, or email address.
        (Every field is required).
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/users' && this.authService.isDirector"
    class="helper-card" style="height: 220px">
    <mat-card-header>
        <mat-card-title>Registering new User:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Directors have the right to add a new Manager to the company where he is registered.
        Later, Directors can easily modify their employees.
    </mat-card-content>
</mat-card>

<!--Company List Page info-->
<mat-card *ngIf="this.url === '/companies' && this.authService.isAdmin"
    class="helper-card" style="height: 220px">
    <mat-card-header>
        <mat-card-title>Registering new Company:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Registering a new Company is simple, but only Admin users have the roght to do so.
        Click "Register New Company" next to the title, and fill the form.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/companies' && this.authService.isAdmin"
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Company List:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        All the companies are listed here registerd to the system.
        Admins have the right to edit all the companies.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/companies' && this.authService.isAdmin"
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Company Disabling:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin you can Disable Companies!
        Disabling a company will disable all the users working at the company.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/companies'"
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Company List:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        All the companies are listed here registerd to the system. 
        You can easily access all the information about each company, 
        which can be required to be used durring shipping or communication.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/companies'"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Map:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        Under the list, all the companies with valid address given, are shown on the map.
        This makes management even more easier.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/companies' && this.authService.isDirector"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Modification:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        In case you renamed your company, you can edit your Company's profile.
        All the data in the form is required to be up to date.
    </mat-card-content>
</mat-card>

<!--Company Edit form info-->
<mat-card *ngIf="this.url.includes('/companies/edit') && this.authService.isAdmin"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As an Admin user you can edit any of the company's profile.
        All the data in the form is required to be up to date.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/companies/edit') && this.authService.isDirector"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Editing:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        In case you renamed your company, you can edit your Company's profile.
        All the data in the form is required to be up to date.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url.includes('/companies/edit')"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Adress:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
       <b>WARNING!</b> It is recommended to add a well formatted adress, so the company can appear on the map.
    </mat-card-content>
</mat-card>

<!--Statistics Page info-->
<mat-card *ngIf="this.url === '/stats' && this.authService.isDirector"
    class="helper-card" style="height: 170px">
    <mat-card-header>
        <mat-card-title>Company Statistics:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        As a Director of your company, you can find real time, useful statistics about your company.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && this.authService.isDirector"
    class="helper-card" style="height: 250px">
    <mat-card-header>
        <mat-card-title>Monthly Income/Expense:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        These charts are indicating the money flow listed by month.
        The bottom parts of the columns are the open orders, but the 
        part appearing at the top of the columns, are the closed orders, indicating 
        that your company has already recieved the money.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && (this.authService.isDirector || this.authService.isAdmin)"
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Business Partners:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The Pyramid is indicating your partners, you have the most orders with.
        It is recommended to keep a healthy business with the top ones.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && this.authService.isDirector"
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order counts:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The Circle is divided into four segments.
        Active/Closed Sales and 
        Active/Closed Purchases, giving you the possibility to estimate and retink your strategy.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && this.authService.isAdmin"
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Registerd Users:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The donut is divided into 3 parts, indicating the registred usres by role, 
        giving admins a feedback about the usage of roles.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && this.authService.isAdmin"
    class="helper-card" style="height: 150px">
    <mat-card-header>
        <mat-card-title>Value of Orders:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        This chart shows the amount of money moved with the help of SMS.
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.url === '/stats' && this.authService.isAdmin"
    class="helper-card" style="height: 200px">
    <mat-card-header>
        <mat-card-title>Order counts:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="helper-info">
        The Circle is divided into four segments.
        Active/Closed Sales and Active/Closed Purchases, 
        this shows ALL the orders in the system, givin developers a feedback, about the usage of SMS.
    </mat-card-content>
</mat-card>