<div *ngIf="user && loaded" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">

    <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title *ngIf="user.username; else noUserName"><b>User:</b> {{user.username}}</mat-card-title>
            <ng-template #noUserName>
             <mat-card-title><b>User:</b> Please Add Username!</mat-card-title>
            </ng-template>
          <mat-card-subtitle *ngIf="user.email; else noEmail"><b>Email Address:</b> {{user.email}}</mat-card-subtitle>
            <ng-template #noEmail>
                <mat-card-subtitle><b>Email Address:</b> Please Add Email Address!</mat-card-subtitle>
            </ng-template>
        </mat-card-header>
        <mat-card-content>
          <p>
            <label class="user-info" *ngIf="user.fullName; else noFullName"><b>Full Name:</b> &nbsp;
                <label class="user-info" style="padding-left:6.5em">{{user.fullName}}</label>
            </label>
            <ng-template #noFullName>
                <label class="order-info"><b>Full Name:</b> &nbsp;
                    <label class="order-info" style="padding-left:6.5em">Please Add Full Name!</label>
                </label>
            </ng-template>
            <br>

            <label class="user-info" *ngIf="user.enabled; else disabledUser"><b>User Status:</b> &nbsp;
                <label class="user-info" style="color: green; padding-left:5.8em">Enabled</label>
            </label>
            <ng-template #disabledUser>
                <label class="user-info"><b>User Status:</b> &nbsp;
                    <label class="user-info" style="color: red; padding-left:5.8em">Disabled</label>
                </label>
            </ng-template>
            <br>

            <label class="user-info" *ngIf="user.company; else notadirector"><b>Director At:</b> &nbsp;
                <label class="user-info" style="padding-left:6.3em">{{user.company.name}}</label>
            </label>
            <ng-template #notadirector>
                <label class="user-info"><b>Director At:</b> &nbsp;
                    <label class="user-info" style="color: orange;" style="padding-left:6.3em">Not a Director</label>
                </label>
            </ng-template>
            <br>

            <label class="user-info" *ngIf="user.workplace; else unemployed"><b>Workplace Of The User:</b> &nbsp;
                <label class="user-info" style="padding-left:0.7em">{{user.workplace.name}}</label>
            </label>
            <ng-template #unemployed>
                <label>Workplace Of The User: &nbsp;
                    <label class="user-info" style="color: orange;" style="padding-left:0.7em">Unemployed</label>
                </label>
            </ng-template>

            <br>
            <label class="user-info" *ngIf="user.role; else noRole"><b>Role Of The User:</b>&nbsp;
                <label class="user-info" style="padding-left:3.8em">{{this.enumService.getRoleString(user.role)}}</label>
            </label>
            <ng-template #noRole>
                <label class="order-info"><b>Role Of The User:</b> &nbsp;
                    <label class="order-info" style="padding-left:3.8em">Please set role!</label>
                </label>
            </ng-template>
            
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/users/edit', user.id]" style="margin-left:20px; margin-bottom:20px;">EDIT</button>
        </mat-card-actions>
      </mat-card>
</div>

