<div *ngIf="order && loaded" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
  <form [formGroup]="orderForm" (submit)="submit()">
      <mat-card class="order-card">
          <mat-card-header>
              <mat-card-title>Edit Order</mat-card-title>
          </mat-card-header>
          <mat-card-content>

          <label class="order-info" style="padding-left:10em">Product: &nbsp;</label>
          <mat-form-field style="width: 200px;">
            <input matInput 
              #productName
              formControlName="productName" 
              [(ngModel)] = "order.productName"
              type="text" 
              name="productName"
              placeholder="Enter Product"
              aria-describedby="titleHelp" 
              required/>
            <mat-error>
              Name must be at least 3 characters long!
            </mat-error>
          </mat-form-field>

          <label class="order-info" style="padding-left:7.5em">Product Price: &nbsp;</label>
          <mat-form-field style="width: 200px;">
              <input matInput 
                #price 
                formControlName="price" 
                [(ngModel)]="order.price"
                type="text" 
                name="price" 
                placeholder="Set Price"
                aria-describedby="titleHelp" 
                required/>
              <mat-error>
                Price can only contains numbers (Ft)
              </mat-error>
          </mat-form-field>

          <label class="order-info" style="padding-left:7em">Product Status: &nbsp;</label>
          <mat-form-field style="width: 200px;">
              <mat-select
                #productStatus 
                formControlName="status" 
                [(ngModel)] = "order.status"
                name="productStatus" 
                placeholder="Enter Status"
                required>
                  <mat-option *ngFor="let status of statuses" [value]="status">{{this.enumService.getStatusString(status)}}</mat-option>
              </mat-select>
              <mat-error>
                Please Select a Status
              </mat-error>
          </mat-form-field>

        <!-- === Seller === -->
        <div *ngIf="order.seller.id === authService.user.workplace.id && !authService.isAdmin">
          <label class="order-info" style="padding-left:7em">Seller Manager: &nbsp;</label>
          <mat-form-field *ngIf="order.sellerManager; else unassignedSeller" style="width: 200px;">
              <mat-select 
                  #sellerManager 
                  formControlName="sellerManager" 
                  name="sellerManager" 
                  placeholder="Select Seller Manager"
                  [(ngModel)]="order.sellerManager.username"
                  required>
                <mat-option value="" disabled>Choose a User</mat-option>
                <ng-container *ngFor="let user of managers">
                    <mat-option *ngIf="user.enabled"
                    [value]="user.username">{{user.username}}
                    </mat-option>
                </ng-container>
              </mat-select>
              <mat-error>
                Please Select a Manager
              </mat-error>
          </mat-form-field>
        </div>

        <ng-template #unassignedSeller>
          <mat-form-field style="width: 200px;">
            <mat-select 
              #sellerManager 
              formControlName="sellerManager" 
              name="sellerManager" 
              placeholder="Select Seller Manager"
              required>
                <mat-option value="" disabled>Choose a User</mat-option>
                <ng-container *ngFor="let user of managers">
                    <mat-option *ngIf="user.enabled"
                    [value]="user.username">{{user.username}}
                    </mat-option>
                </ng-container>
            </mat-select>
            <mat-error>
              Please Select a Manager
            </mat-error>
          </mat-form-field>
        </ng-template>

      <!-- === Buyer === -->
      <div *ngIf="order.buyer.id === authService.user.workplace.id && !authService.isAdmin">
        <label class="order-info" style="padding-left:7em">Buyer Manager: &nbsp;</label>
        <mat-form-field *ngIf="order.buyerManager; else unassignedBuyer" style="width: 200px;">
            <mat-select 
            #buyerManager 
            formControlName="buyerManager" 
            name="buyerManager" 
            placeholder="Select Buyer Manager"
            [(ngModel)]="order.buyerManager.username"
            required>
                <mat-option value="" disabled>Choose a User</mat-option>
                <ng-container *ngFor="let user of managers">
                    <mat-option *ngIf="user.enabled"
                    [value]="user.username">{{user.username}}
                    </mat-option>
                </ng-container>
            </mat-select>
            <mat-error>
              Please Select Buyer Company
            </mat-error>
          </mat-form-field>
        </div>

        <ng-template #unassignedBuyer>
          <mat-form-field style="width: 200px;">
            <mat-select
                #buyerManager 
                formControlName="buyerManager" 
                name="buyerManager" 
                placeholder="Select Buyer Manager"
                required>
              <mat-option value="" disabled>Choose a User</mat-option>
              <ng-container *ngFor="let user of managers">
                  <mat-option *ngIf="user.enabled"
                  [value]="user.username">{{user.username}}
                  </mat-option>
              </ng-container>
            </mat-select>
            <mat-error>
              Please Select a Manager
            </mat-error>
          </mat-form-field>
        </ng-template>

      <!-- === Admin page === -->
      <div *ngIf="authService.isAdmin">
        <label class="order-info" style="padding-left:6.6em">Seller Company: &nbsp;</label>
        <mat-form-field *ngIf="order.seller" style="width: 200px;">
            <mat-select 
              #seller
              formControlName="seller" 
              name="seller" 
              placeholder="Select Seller Company"
              [(ngModel)]="order.seller.name"
              required>
                <mat-option value="" disabled>Choose a Company</mat-option>
                <ng-container *ngFor="let company of selectableCompanyiesForSeller">
                  <mat-option *ngIf="company.active"
                    [value]="company.name"
                    (click)="filterUsersOfSellerCompany(company.name)">{{company.name}}
                  </mat-option>
                </ng-container>
            </mat-select>
            <mat-error>
              Please Select a Company
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="authService.isAdmin">
          <label class="order-info" style="padding-left:6.9em">Seller Manager: &nbsp;</label>
          <mat-form-field *ngIf="order.sellerManager; else unassignedSellerAdmin" style="width: 200px;">
              <mat-select 
                #sellerManager
                formControlName="sellerManager" 
                name="sellerManager" 
                placeholder="Select Seller Manager"
                [(ngModel)]="order.sellerManager.username"
                required>
                  <mat-option value="" disabled>Choose a Manager</mat-option>
                  <ng-container *ngFor="let manager of usersOfSellerCompany">
                    <mat-option *ngIf="manager.enabled"
                      [value]="manager.username">{{manager.username}}
                    </mat-option>
                  </ng-container>
              </mat-select>
              <mat-error>
                Please Select a Manager
              </mat-error>
          </mat-form-field>
        </div>

        <ng-template #unassignedSellerAdmin>
          <mat-form-field style="width: 200px;">
            <mat-select 
              #sellerManager 
              formControlName="sellerManager" 
              name="sellerManager" 
              placeholder="Select Seller Manager"
              required>
                <mat-option value="" disabled>Choose a User</mat-option>
                <ng-container *ngFor="let manager of usersOfSellerCompany">
                    <mat-option *ngIf="manager.enabled"
                      [value]="manager.username">{{manager.username}}
                    </mat-option>
                </ng-container>
            </mat-select>
            <mat-error>
              Please Select a Manager
            </mat-error>
          </mat-form-field>
        </ng-template>

        <div *ngIf="authService.isAdmin">
          <label class="order-info" style="padding-left:6.5em">Buyer Company: &nbsp;</label>
          <mat-form-field *ngIf="order.buyer" style="width: 200px;">
              <mat-select 
                #buyer
                formControlName="buyer" 
                name="buyer" 
                placeholder="Select Buyer Company"
                [(ngModel)]="order.buyer.name"
                required>
                  <mat-option value="" disabled>Choose a Company</mat-option>
                  <ng-container *ngFor="let company of selectableCompanyiesForBuyer">
                    <mat-option *ngIf="company.active"
                      [value]="company.name"
                      (click)="filterUsersOfBuyerCompany(company.name)">{{company.name}}
                    </mat-option>
                  </ng-container>
              </mat-select>
              <mat-error>
                Please Select a Company
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="authService.isAdmin">
            <label class="order-info" style="padding-left:6.8em">Buyer Manager: &nbsp;</label>
            <mat-form-field *ngIf="order.buyerManager; else unassignedBuyerAdmin" style="width: 200px;">
                <mat-select 
                  #buyerManager
                  formControlName="buyerManager" 
                  name="buyerManager" 
                  placeholder="Select Buyer Manager"
                  [(ngModel)]="order.buyerManager.username"
                  required>
                    <mat-option value="" disabled>Choose a Manager</mat-option>
                    <ng-container *ngFor="let manager of usersOfBuyerCompany">
                      <mat-option *ngIf="manager.enabled"
                        [value]="manager.username">{{manager.username}}
                      </mat-option>
                    </ng-container>
                </mat-select>
                <mat-error>
                  Please Select a Manager
                </mat-error>
              </mat-form-field>
            </div>

            <ng-template #unassignedBuyerAdmin>
              <mat-form-field style="width: 200px;">
                <mat-select
                    #buyerManager 
                    formControlName="buyerManager" 
                    name="buyerManager" 
                    placeholder="Select Buyer Manager"
                    required>
                  <mat-option value="" disabled>Choose a User</mat-option>
                  <ng-container *ngFor="let manager of usersOfBuyerCompany">
                      <mat-option *ngIf="manager.enabled"
                      [value]="manager.username">{{manager.username}}
                      </mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>
                  Please Select a Manager
                </mat-error>
              </mat-form-field>
            </ng-template>

            
            <label class="order-info" style="padding-left:9.7em">Archived: &nbsp;</label>
            <mat-checkbox 
                type="checkbox" 
                value="order.archived"
                formControlName="archived"
                [(ngModel)]="order.archived"
                (click)="this.disableOrEnableArchivedForm(order)">
            </mat-checkbox>

            <mat-card-actions>
              <div class="backButton">
                <button mat-raised-button [routerLink]="['/orders/edit', order.id]" [disabled]="!orderForm.valid" color="primary"
                type="submit">Save Order</button>
                <button mat-raised-button color="primary" (click)="goBack()">Back</button>
              </div>
            </mat-card-actions>

            <mat-card class="description-card">
              <label class="order-info" style="padding-left:1em">Description: &nbsp;</label>
              <mat-form-field style="width: 400px; height: 400px">
                <textarea matInput class="description"
                  #description
                  formControlName="description" 
                  [(ngModel)] = "order.description"
                  type="textarea" 
                  name="description"
                  placeholder="Add Description">
                </textarea>
              </mat-form-field>
            </mat-card>

        </mat-card-content>

      </mat-card>
  </form>
</div>