@import '@angular/material/prebuilt-themes/purple-green.css';
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css";

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
} 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

material-app, mat-sidenav-container {
    height: calc(100% - 64px);
    width: 100%;
    margin: 0;
}  

.whiteLabel{
    color: white;
}
