<div class="card fixedContainer orderTable" style="background-color: rgb(33, 37, 41);">
    <form [formGroup]="companyForm" (submit)="submit()">
        <div style="margin: 20px;">
            <table class="table table-sm ellipsis" style="background-color: rgb(33, 37, 41); margin: 20px">
                <tbody>
                    <tr>
                        <label class="whiteLabel">Company Name:
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #companyName 
                                formControlName="companyName" 
                                type="text" 
                                name="companyName"
                                placeholder="Enter Company Name"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Name must be at least 4 characters long!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <label class="whiteLabel">Company Address:
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #address
                                formControlName="address" 
                                type="text" 
                                name="address"
                                placeholder="Enter Company Address"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Name must be at least 4 characters long!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <label class="whiteLabel">Company Tax Number:
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #taxNumber 
                                formControlName="taxNumber" 
                                type="text" 
                                name="taxNumber"
                                placeholder="Enter Tax Number Name"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Tax Number must be at least 10 characters long
                                    and can only contains numbers and '-' signs!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <label class="whiteLabel">Bank Account Number:
                            <mat-form-field style="width: 200px;">
                                <input matInput 
                                #bankAccountNumber 
                                formControlName="bankAccountNumber" 
                                type="text" 
                                name="bankAccountNumber"
                                placeholder="Enter Bank Account Number"
                                aria-describedby="titleHelp" />
                                <mat-error>
                                    Bank Account Number must be at least 12 characters long!
                                </mat-error>
                            </mat-form-field>
                        </label>
                    </tr>
                    <tr>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!companyForm.valid">Register Company</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>