<form [formGroup]="orderForm" (submit)="submit()">
  <div style="margin: 20px;">
    <h1>Edit order</h1>
  </div>
  <div *ngIf="order" class="card" style="width: 40rem; margin: 20px;">
    <div class="card-body">
      <h2 class="font-weight-bold mb-3">Order: {{order.productName}}</h2>
    </div>

    <ul class="list-group list-group-flush">

      <li class="list-group-item">
       <label class="whiteLabel">Product Name:
        <mat-form-field style="width: 200px;">
            <input matInput 
            #productName 
            formControlName="productName" 
            [(ngModel)] = "order.productName"
            type="text" 
            name="productName"
            placeholder="Enter Product Name"
            aria-describedby="titleHelp" />
          </mat-form-field>
        </label>
      </li>

      <li class="list-group-item">
        <label class="whiteLabel">Product Price:
          <mat-form-field style="width: 200px;">
              <input matInput 
              #productPrice 
              formControlName="price" 
              [(ngModel)]="order.price"
              type="text" 
              name="productPrice" 
              placeholder="Set Price"
              aria-describedby="titleHelp" />
          </mat-form-field>
        </label>
      </li>

      <li class="list-group-item">
        <label>Product Status:&nbsp;
          <mat-form-field style="width: 200px;">
              <mat-select
              #productStatus 
              formControlName="status" 
              [(ngModel)] = "order.status"
              name="productStatus" 
              placeholder="Enter Status">
                  <mat-option value="NEW">New</mat-option>
                  <mat-option value="SUCCESSFULLY_COMPLETED">Successfully Completed</mat-option>
                  <mat-option value="UNDER_PRODUCTION">Under Production</mat-option>
                  <mat-option value="CLOSED">Closed</mat-option>
                  <mat-option value="OFFER">Offer</mat-option>
                  <mat-option value="IN_STOCK">In Stock</mat-option>
                  <mat-option value="ISSUE">Issue</mat-option>
                  <mat-option value="UNDER_ASSEMBLY">Under Assembly</mat-option>
              </mat-select>
          </mat-form-field>
        </label>
      </li>

    </ul>
    <div class="card-body">
      <button [routerLink]="['/orders/edit', order.id]" mat-raised-button [disabled]="!orderForm.valid" color="primary"
        (click)="save()">Save Order</button>
    </div>
  </div>


</form>

<div><button mat-raised-button color="primary" class="backButton" (click)="goBack()">Back</button></div>