.card-body{
    color: white;
    background-color: rgb(33, 37, 41);
    border-color: darkslategray;
}

.list-group-item{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(33, 37, 41);
}

::ng-deep .mat-form-field-label{
    color:white !important;
}

.unassigned{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.backButton{
    margin: 20px;
}
