<div *ngIf="loaded" class="panel panel-default" style="margin: 20px;">

    <div class="filterPanel" *ngIf="authService.filters">
        <mat-form-field class="filterTool">  
        <input matInput 
        name="term"
        [(ngModel)]="term"
        type="text"
        placeholder="Search by Username">
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field class="filterTool" *ngIf="authService.isAdmin">
            <mat-label>Workplace selection:</mat-label>
            <mat-select>
                <mat-option value="0" (click)="onCompanyFilterChange(0)">
                All Companies
                </mat-option>
                <mat-option *ngFor="let workplace of companies" [value]="workplace.name" (click)="onCompanyFilterChange(workplace.id)">
                    {{workplace.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <user-role-filter class="filterTool" [role]="selectedRole" [roles]="roles" (onChange)="onFilterChange($event)"></user-role-filter>

        <button mat-button id="closeButton" (click)="closeFilter()">Close Filter</button>
    </div>

    <h2 *ngIf="authService.isAdmin; else directorTitle" style="margin-left: 20px;">Registered Users
        <button *ngIf="!addUser && this.authService.isAdmin; else directorButton" 
        style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>&nbsp;Register New User
        </button>
    </h2>
    <ng-template #directorTitle>
        <h2 *ngIf="authService.isDirector; else managerTitle" style="margin-left: 20px;">Employees
            <button *ngIf="!addUser && this.authService.isAdmin; else directorButton" 
            style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
                <mat-icon>add</mat-icon>&nbsp;Register New User
            </button>
        </h2>
    </ng-template>
    <ng-template #managerTitle>
        <h2 *ngIf="authService.isDirector" style="margin-left: 20px;">Colleagues
            <button *ngIf="!addUser && this.authService.isAdmin; else directorButton" 
            style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
                <mat-icon>add</mat-icon>&nbsp;Register New User
            </button>
        </h2>
    </ng-template>
    
    <!--Register New User-->
    <ng-template #directorButton>
        <button *ngIf="!addUser && authService.isDirector; else cancel" 
        style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>&nbsp;Register New Manager
        </button>
    </ng-template>

    <ng-template #cancel>
        <button *ngIf="addUser" style="margin-left: 10px;" (click)="toggleAddUser()" mat-raised-button="primary">
            <mat-icon>remove</mat-icon>&nbsp;Cancel Registration
        </button>
    </ng-template>

    <div *ngIf="addUser">
        <new-user-form></new-user-form>
    </div>


    <div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center grid">
        <div *ngFor="let user of filteredUsers | userFilter : term | companyNameFilter: selectedCompanyId">

            <mat-card class="user-card">
                <mat-card-header>
                <mat-card-title *ngIf="user.username; else noUserName">
                    <b>User: </b><a [routerLink]="['/users', user.id]" style="color: azure;">{{user.username}}</a>
                </mat-card-title>
                    <ng-template #noUserName>
                    <mat-card-title><b>User:</b> Please Add Username!</mat-card-title>
                    </ng-template>
                <mat-card-subtitle *ngIf="user.email; else noEmail"><b>Email Address:</b> {{user.email}}</mat-card-subtitle>
                    <ng-template #noEmail>
                        <mat-card-subtitle><b>Email Address:</b> Please Add Email Address!</mat-card-subtitle>
                    </ng-template>
                </mat-card-header>
                <mat-card-content>
                <p>
                    <label class="user-info" *ngIf="user.fullName; else noFullName"><b>Full Name:</b> &nbsp;
                        <label class="user-info" style="padding-left:6.5em">{{user.fullName}}</label>
                    </label>
                    <ng-template #noFullName>
                        <label class="order-info"><b>Full Name:</b> &nbsp;
                            <label class="order-info" style="padding-left:6.5em">Please Add Full Name!</label>
                        </label>
                    </ng-template>
                    <br>
        
                    <label class="user-info" *ngIf="user.enabled; else disabledUser"><b>User Status:</b> &nbsp;
                        <label class="user-info" style="color: green; padding-left:5.8em">Enabled</label>
                    </label>
                    <ng-template #disabledUser>
                        <label class="user-info"><b>User Status:</b> &nbsp;
                            <label class="user-info" style="color: red; padding-left:5.8em">Disabled</label>
                        </label>
                    </ng-template>
                    <br>
        
                    <label class="user-info" *ngIf="user.company; else notadirector"><b>Director At:</b> &nbsp;
                        <label class="user-info" style="padding-left:6.3em">{{user.company.name}}</label>
                    </label>
                    <ng-template #notadirector>
                        <label class="user-info"><b>Director At:</b> &nbsp;
                            <label class="user-info" style="color: orange; padding-left:6.3em">Not a Director</label>
                        </label>
                    </ng-template>
                    <br>
        
                    <label class="user-info" *ngIf="user.workplace; else unemployed"><b>Workplace Of The User:</b> &nbsp;
                        <label class="user-info" style="padding-left:0.7em">{{user.workplace.name}}</label>
                    </label>
                    <ng-template #unemployed>
                        <label>Workplace Of The User: &nbsp;
                            <label class="user-info" style="color: orange; padding-left:0.7em">Unemployed</label>
                        </label>
                    </ng-template>
        
                    <br>
                    <label class="user-info" *ngIf="user.role; else noRole"><b>Role Of The User:</b>&nbsp;
                        <label class="user-info" style="padding-left:3.8em">{{this.enumService.getRoleString(user.role)}}</label>
                    </label>
                    <ng-template #noRole>
                        <label class="order-info"><b>Role Of The User:</b> &nbsp;
                            <label class="order-info" style="padding-left:3.8em">Please set role!</label>
                        </label>
                    </ng-template>
                </p>
                </mat-card-content>
                <mat-card-actions>
      
                <div *ngIf="authService.isAdmin; else managerOrDirector">
                    <div fxFlex></div><button mat-button color="accent" [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                </div>
                <ng-template #managerOrDirector>
                    <div *ngIf="authService.isDirector && (authService.user.id === user.id || user.role === 'ROLE_MANAGER'); else manager">
                        <div fxFlex></div><button mat-button [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </div>
                </ng-template>
                <ng-template #manager>
                    <div *ngIf="authService.user.id !== user.id; else loggedInManager">
                        <div fxFlex></div><button mat-button disabled><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </div>
                </ng-template>
                <ng-template #loggedInManager>
                    <div>
                        <div fxFlex></div><button mat-button [routerLink]="['/users/edit', user.id]"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
                    </div>
                </ng-template>
                <br>
                <div *ngIf="user.enabled && (authService.user.id === user.id || authService.isManager || 
                        (!this.authService.isAdmin && user.role === 'ROLE_ADMIN')); else switchableUser">
                        <div fxFlex></div><button mat-button color="warn" disabled><mat-icon>remove_circle</mat-icon>&nbsp;Disable</button>
                </div>
                <ng-template #switchableUser>
                    <div *ngIf="user.enabled; else disabledUserButton">
                        <div fxFlex></div>
                        <button mat-button color="warn" (click)="openDisableUserDialog(user, 'disable')">
                            <mat-icon>remove_circle</mat-icon>
                            &nbsp;Disable
                        </button>
                    </div>
                </ng-template>
                <ng-template #disabledUserButton>
                    <div *ngIf="!(!this.authService.isAdmin && user.role === 'ROLE_ADMIN'); else adminEnabling">
                        <div fxFlex></div>
                        <button mat-button color="success" (click)="openDisableUserDialog(user, 'enable')">
                            <mat-icon>remove_circle_outline</mat-icon>
                            &nbsp;Enable
                        </button>
                    </div>
                </ng-template>
                <ng-template #adminEnabling>
                    <div>
                        <div fxFlex></div>
                        <button mat-button color="success" disabled>
                            <mat-icon>remove_circle_outline</mat-icon>
                            &nbsp;Enable
                        </button>
                    </div>
                </ng-template>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>