<div *ngIf="company && loaded && this.authService.user.company && (this.authService.isAdmin || this.authService.user.company.id === company.id); else forbidden"
    fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
    <form [formGroup]="companyForm" (submit)="submit()">
        <mat-card class="new-company-card">
            <mat-card-header>
                <mat-card-title>Edit Company</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <label class="new-company-info" style="padding-left:5em">Company Name: &nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput 
                        #companyName 
                        type="text"
                        formControlName="name" 
                        [(ngModel)]="company.name" 
                        name="companyName"
                        placeholder="Enter Company Name" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Name must be at least 4 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>

                <label class="new-company-info" style="padding-left:3.9em">Company Address: &nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #address 
                        type="text"
                        formControlName="address" 
                        [(ngModel)]="company.address" 
                        name="address"
                        placeholder="Enter Company Address" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Address must be at least 4 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>

                <label class="new-company-info" style="padding-left:6.7em">Tax Number: &nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #taxNumber 
                        type="text"
                        formControlName="taxNumber" 
                        [(ngModel)]="company.taxNumber" 
                        name="taxNumber"
                        placeholder="Enter Company Tax Number" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Tax Number must be at least 10 characters long
                            and can only contains numbers and '-' signs!
                        </mat-error>
                    </mat-form-field>
                </label>

                <label class="new-company-info" style="padding-left:2em">Bank Account Number: &nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #bankAccountNumber 
                        type="text"
                        formControlName="bankAccountNumber"
                        [(ngModel)]="company.bankAccountNumber" 
                        name="bankAccountNumber"
                        placeholder="Enter Bank Account Number" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Bank Account Number must be at least 12 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>
                
                <mat-card-actions class="new-company-button">
                    <button mat-raised-button [routerLink]="['/companies/edit', company.id]" [disabled]="!companyForm.valid"
                        type="submit" color="primary">Save Company
                    </button>
                    <button mat-raised-button color="primary"  (click)="goBack()">Back
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </form>
</div>
<ng-template #forbidden>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="card" style="width: 50rem; margin: 20px;">
        <h2>FORBIDDEN! - You dont have access for this page!</h2>
    
        <p *ngIf="path">You might want to go back to the main page: <a [routerLink]="path">"{{ path }}"</a></p>
    </div>
    <button mat-raised-button color="primary" class="backButton" (click)="goBack()">Go back to previous page!</button>
</ng-template>