<div *ngIf="loaded">
    <form [formGroup]="companyForm" (submit)="submit()">
        <div style="margin: 20px;">
            <h1>Edit Company</h1>
        </div>
        <div *ngIf="company" class="card" style="width: 40rem; margin: 20px;">
            <div class="card-body">
                <h2 class="font-weight-bold mb-3">{{company.name}}</h2>
            </div>
            <li class="list-group-item">
                <label>Company Name:&nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput 
                        #companyName 
                        type="text"
                        formControlName="name" 
                        [(ngModel)]="company.name" 
                        name="companyName"
                        placeholder="Enter Company Name" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Name must be at least 4 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>
            </li>
            <li class="list-group-item">
                <label>Company Address:&nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #address 
                        type="text"
                        formControlName="address" 
                        [(ngModel)]="company.address" 
                        name="address"
                        placeholder="Enter Company Address" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Address must be at least 4 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>
            </li>
            <li class="list-group-item">
                <label>Tax Number:&nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #taxNumber 
                        type="text"
                        formControlName="taxNumber" 
                        [(ngModel)]="company.taxNumber" 
                        name="taxNumber"
                        placeholder="Enter Company Tax Number" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Tax Number must be at least 10 characters long
                            and can only contains numbers and '-' signs!
                        </mat-error>
                    </mat-form-field>
                </label>
            </li>
            <li class="list-group-item">
                <label>Bank Account Number:&nbsp;
                    <mat-form-field style="width: 300px;">
                        <input matInput
                        #bankAccountNumber 
                        type="text"
                        formControlName="bankAccountNumber"
                        [(ngModel)]="company.bankAccountNumber" 
                        name="bankAccountNumber"
                        placeholder="Enter Bank Account Number" 
                        aria-describedby="titleHelp"
                        required />
                        <mat-error>
                            Bank Account Number must be at least 12 characters long!
                        </mat-error>
                    </mat-form-field>
                </label>
            </li>
            
            <div class="card-body">
                <button mat-raised-button [routerLink]="['/companies/edit', company.id]" [disabled]="!companyForm.valid"
                type="submit" color="primary">Save Company</button>
            </div>
        </div>
    
    
    </form>
    
    <div><button mat-raised-button color="primary" class="backButton" (click)="goBack()">Back</button></div>
</div>