.card{
    color: black;
    padding-top: 20px;
}

::ng-deep .mat-form-field-label{
    color:white !important;
}

::ng-deep input.mat-input-element {
    color: white;
  }
  
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
color: white !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
background-color: white !important;
}

::ng-deep.mat-form-field{
    color: white;
}

.unassigned{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.new-company-button {
    margin: 20px;
    align-self: right;
}

.new-company-card {
    width: 600px;
    height: 500px;
    margin: 20px;
}

.new-company-info{
    margin-left: 15px;
    margin-top: 5px;
    font-size: medium;
}

.backButton{
    margin-left: 20px;
}