<div *ngIf="company" class="card" style="width: 40rem; margin: 20px;">

    <div *ngIf="company.name; else elseBlock0" class="card-body">
        <h2 class="font-weight-bold mb-3">Company: {{company.name}}</h2>
    </div>
    <ng-template #elseBlock0>
        <div class="card-body">
            <h2 class="font-weight-bold mb-3">Company:&nbsp;<label>Please Set a Name For this Company</label></h2>
        </div>
    </ng-template>

    <ul class="list-group list-group-flush">

        <li *ngIf="company.director; else elseBlock1" class="list-group-item">
            <label>Director:&nbsp;<label style="color: green;">{{company.director}}</label></label></li>
        <ng-template #elseBlock1>
            <li class="list-group-item"><label>Director:&nbsp;</label><label style="color: red;">Disabled</label></li>
        </ng-template>

    </ul>
    <div class="card-body">
        <a [routerLink]="['/companies/edit', company.id]" class="card-link">Edit Company</a>
    </div>
</div>
<!-- TODO list employees if the logged in user is wokring at the selected company -->
<ng-template #dontHaveADirector>
    <td><strong style="color: orange;">Not a Director</strong></td>
</ng-template>
