<div *ngIf="company" class="card" style="width: 40rem; margin: 20px;">

    <div *ngIf="company.name; else elseBlock0" class="card-body">
        <h2 class="font-weight-bold mb-3">Company Name: {{company.name}}</h2>
    </div>
    <ng-template #elseBlock0>
        <div class="card-body">
            <h2 class="font-weight-bold mb-3">Company Name:&nbsp;<label>Please Set a Name For this Company</label></h2>
        </div>
    </ng-template>
    
    <li *ngIf="company.address; else elseBlock1" class="list-group-item">
        <label>Address: {{company.address}}</label></li>
    <ng-template #elseBlock1>
        <li class="list-group-item"><label>Address:&nbsp;</label><label>Please Set an Address For this Company</label></li>
    </ng-template>

    <li *ngIf="company.taxNumber; else elseBlock2" class="list-group-item">
        <label>Tax Number: {{company.taxNumber}}</label></li>
    <ng-template #elseBlock2>
        <li class="list-group-item"><label>Tax Number:&nbsp;</label><label>Please Set Tax Number For this Company</label></li>
    </ng-template>

    <li *ngIf="company.bankAccountNumber; else elseBlock3" class="list-group-item">
        <label>Bank Account Number: {{company.bankAccountNumber}}</label></li>
    <ng-template #elseBlock3>
        <li class="list-group-item"><label>Bank Account Number:&nbsp;</label><label>Please Set Bank Account Number For this Company</label></li>
    </ng-template>

    <li *ngIf="company.active; else elseBlock4" class="list-group-item">
        <label>Company Status:&nbsp;<label style="color: green;">Enabled</label></label>
    </li>
    <ng-template #elseBlock4>
        <li class="list-group-item">
            <label>Company Status:&nbsp;</label><label style="color: red;">Disabled</label>
        </li>
    </ng-template>

    <li class="list-group-item" *ngIf="authService.user.workplace.id === company.id || authService.user.role === 'ROLE_ADMIN'">
        <h4>Users:</h4>
    </li>
    <ng-container *ngFor="let user of users">
        <li class="list-group-item" *ngIf="user.workplace.id === company.id && 
        (authService.user.workplace.id === company.id || authService.user.role === 'ROLE_ADMIN') && user.enabled">
            <label>{{user.username}} - {{user.role}}</label>
        </li>
    </ng-container>
    
    <div class="card-body">
        <a [routerLink]="['/companies/edit', company.id]" class="card-link">Edit Company</a>
    </div>
</div>

<ng-template #dontHaveADirector>
    <td><strong style="color: orange;">Not a Director</strong></td>
</ng-template>
