.card-body{
    color: black;
}

.list-group-item{
    color: darkslategray;
    font-size: medium;
    font-weight: bold;
}

.unassigned{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.backButton{
    margin: 20px;
}

.company-card {
    width: 400px;
    height: 500px;
    margin: 20px;
}

.company-info{
    margin-left: 15px;
    margin-top: 5px;
    font-size: medium;
}