<div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
    <form #historyForm="ngForm">
        <mat-card class="history-card">
            <mat-card-header>
                <mat-card-title>
                    Add New History
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <label style="padding-left:2em">Select type: &nbsp;</label>
                <mat-form-field style="width: 200px;">
                    <mat-select #historyType placeholder="Select Type" name="type" [formControl]="historyControl">
                        <mat-option *ngFor="let historyType of historyTypes" [value]="historyType" >{{this.enumService.getHistoryTypeString(historyType)}}</mat-option>
                        <mat-option value="STATUS_MODIFIED" disabled>Status Modified</mat-option>
                    </mat-select>
                    <mat-error>
                        Please choose a Status
                    </mat-error>
                </mat-form-field>
                    <br>
                <label style="padding-left:3em">Add note: &nbsp;</label>
                <mat-form-field style="width: 400px;">
                    <input matInput #historyNote type="text" name="price" placeholder="Enter Note"
                        aria-describedby="titleHelp"/>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button style="margin-left:20px; margin-bottom:20px;"
                mat-raised-button [disabled]="historyNote.empty || historyType.empty" color="primary"
                (click)="add(historyNote.value, historyType.value); historyType.value=''; historyNote.value='';">
                SAVE
            </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>